* {
    color: #fffafa;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 50vmin;
}